{% extends "base.html" %}

{% block content %}
    <h1>Здравствуйте, {{ current_user.username }}!</h1><br>
    
    <h3>Это веб-приложение предназначено для составления транспортных маршрутов.</h3><br>

    <h3>Вы можете:</h3>
    <h4 class="ms-4">— Создавать, редактировать и удалять маршруты.</h4>
    <h4 class="ms-4">— Формировать файлы конфигурации (для готовых маршрутов):<h4>
    <h5>
        <ul class="index-list">
            <li>для одного маршрута (кнопка "Конфиг" в строке маршрута)</li>
            <li>для нескольких маршрутов (выбрать их в списке, указать параметры шапки объединённого конфигурационного файла, нажать кнопку "Создать конфигурацию для выбранных маршрутов")</li>
        </ul>
    </h5><br>

    <h3>На странице профиля рекомендуется указать данные о перевозчике.</h3>
    <p class="text-muted index-desc-small">Они будут автоматически подставляться в шапку конфигурационного файла при выборе нескольких маршрутов.</p>
{% endblock %}
